<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../angular-1.8.2/angular.js"></script>
    <script src="../angular-1.8.2/angular.min.js"></script>
    <title>Service</title>
</head>
<body>
    <div ng-app="mainApp" ng-controller="CalcController">
        <p>Enter a number: <input type="number" ng-model="number"></p>
        <button ng-click="square()">X<sup>2</sup></button>
        <p>Result: {{result}}</p>
    </div>
    
    <script>
        var mainApp = angular.module("mainApp",[]);
        mainApp.factory('MathService',function(){
            var factoryes = {};
            factoryes.multiply = function(a,b){
                return a*b;
            }
            return factoryes;
        });
        mainApp.service('CalcService',function(MathService){
            this.square = function(a){
                return MathService.multiply(a,a);
            }
        });
        mainApp.controller('CalcController',function($scope, CalcService){
            $scope.square = function(){
                $scope.result = CalcService.square($scope.number)
            }
        });
    </script>
</body>
</html>
